{% extends "admin/base_site.html" %}
{% load adminmedia admin_list djblets_extensions i18n staticfiles %}

{% block title %}{% trans "Add Extensions" %} {{block.super}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{% static "djblets/css/admin.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "djblets/css/extensions.css" %}" />

{{block.super}}
{% endblock %}

{% block content %}

<h1 class="title">{% trans "Add Extensions" %}</h1>
<div id="content-main">
 <form action="browser" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit" />
 </form>
</div>
{% if distribution_error %}
{%  trans "An error occurred: package name does not match the resource downloaded." %}
{% endif %}
{% if install_error %}
{%  trans "An error occurred: " %} {{error}}
{% endif %}
{% if install_success %}
{%  trans "Extension installed. You may now activate it." %}
{% endif %}
{% endblock %}
